@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
* {
padding : 2px;
margin: 0;
box-sizing : border-box;
}
html{
    font-size:30px;
    font-family:'Raleway', sans-serif;
}
a {
    text-decoration: none;

}
.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 10%;
    margin-top: 2px;
    margin-bottom: 2px;
}
 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
 }
 .section-title{
    font-size: 40px;
    font-weight: 100;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 20px;
    text-align: center;
}
 .section-title span{
    flex-direction: column;
    text-align: center;
    color: crimson;
}
 .cta{
    display: inline-block;
    padding: 10px 30px ;
    color: salmon ;
    background-color: transparent;
    border: 2px solid salmon;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: 20px;
    transition: .3s ease;
    transition-property: background-color , color;
}
 .cta:hover {
    color: ghostwhite;
    background-color: salmon;


}
/* hero section */
#hero{
    background-image: url(./img/img-2.jpg) ;
    background-size: cover;
    background-position : top center;
    position:relative ;
    z-index: 1;
;}
#hero::after{

content: '';
position :absolute;
left:0;
top:0;
height: 100%;
width: 100%;
background-color: black;
opacity: .5;
z-index: -1;
}
#hero .hero{
    max-width: 1200px;
    margin: 0 auto;
    padding:  50px;
    justify-content: 50px;

}
#hero h1{
    display: block;
    width: fit-content ;
    font-size: 2rem;
    position: relative;
    color: ghostwhite transparent;
    animation: text_reveal 5s ease forwards;
    animation-delay: 1.5s;
}
#hero h1:nth-child(1){
    animation-delay: 1.5s;
}
#hero h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: salmon;
    animation:text_reveal_box 1s ease;
    animation-delay: 1s;
    animation-duration: 2s;
}
#hero h1:nth-child(1) span{
    animation-delay: 1s;
}
#hero .cta{
    display: inline-block;
    padding: 10px 30px ;
    color: salmon ;
    background-color: transparent;
    border: 2px solid salmon;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: 20px;
    transition: .3s ease;
    transition-property: background-color , color;
}
#hero .cta:hover {
    color: ghostwhite;
    background-color: salmon;


}

.brand h1{
    font-size: 30px;
    text-transform: uppercase;
    color: ghostwhite;
}
.brand h1 span{
    color: crimson;
}
/* end hero ection */

/* services section */
#services {    
}
    #services .services{
        flex-direction: column ;
        text-align: center;
        max-width: 300px;
        margin: 0 auto;
        padding: 100px ;
}
#services .section-title{
    font-size: 40px;
    font-weight: 100;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 20px;
    text-align: center;
}
#services .section-title span{
    flex-direction: column;
    text-align: center;
    color: crimson;
}
#services .service-top p{
    font-size: 30px;
    margin-top: 5px ;
    line-height: 2.5rem;
    font-weight: 150;
    letter-spacing: 5px;

}
#services .service-bottom{
    display: flex;
    align-items:center ;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}
#services .service-item{
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center ;
    flex-direction: column;
    padding: 30px;
    text-align: left;
    border-radius: 10px;
    background-image: url(./img/img-4.jpg) ;
    background-size: cover;
    margin: 10px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;

}
#services .service-item::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .4;
    z-index: -1;
}
#services .service-bottom .icon{
    height : 80px;
    width: 80px;
    margin: 20px;
}
#services .service-item h2{
font-size: 30px;
color: black;
margin-bottom: 10px;
text-transform: uppercase;

}
#services .service-item p{
    color:ghostwhite ;
    text-align: left;
    font-size: 25px;
    line-height: 1.5rem ;
}

/* end services section */
/* project section*/
#projects .projects{
    flex-direction: column;
    width: 1200px;
    margin: 0 auto;
    padding: 100px;

}
#projects .projects-header h1{
    margin-bottom: 50px ;
    
}
#pojects .all-projects{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#projects .project-item{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
    background-color: rgb(10, 247, 243);
    

}
#projects .project-info{
    padding: 30px;
    flex-basis: 50%;
    background-color: ghostwhite;
    height: 100%;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    background-color: lightcyan;
    
}
#projects .project-info h1{
    font-size: 45px;
    font-weight: 500;
    text-align: center;
    
}
#projects .project-info h2{
    font: size 30px;
    font-weight: 300;
    margin-top: 10px;

}
#projects .project-img{
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;
}
#projects .project-img:after{
    content:'';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg,#29323c 0%, #485563 100%);
    opacity: .7;

}
#projects .project-img img{
    transition: .3s ease transform;
}
#projects .project-item:hover .project-img img{
    transform: scale(1.1);
}
/* end project section */

/* about section */
#about .About {
    flex: column-reverse;
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 100px 20px;

}
#about .col-left{
width: 1000px;
height: 360px;
}
#about .col-right{
    width: 100%;

}
#about .col-right h2{
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 10px;
    margin-bottom: 10px;
}
#about .col-right p{
    margin-bottom: 20px;

}
#about .col-left .about-img{
    position: relative;
    border: 10px solid rgb(235, 236, 237);
    height: 100%;
    width: 100%;
}
#about .col-left .about-img::after{
    content: '';
    position: absolute;
    left: -33px;
    top: 19px;
    height: 98%;
    width: 98%;
    border: 7px solid rgb(244, 0, 0);
    z-index: -1;
}
/* end about section */

/* contact section */
#contact .contact {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;

}

#contact .contact-items{
    width: 1000px;
    padding: 10px;
    text-align: center;
    flex-direction: column;

}

#contact .contact-item{
    width: 80%;
    padding: 20px;
    text-align: center;
    border-radius: 10px ;
    padding: 30px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 18px 0 rgb(24, 231, 220);
    transition: .3s ease box-shadow;
}
#contact .contact-item:hover{
    box-shadow: 0 px 0px 5px skyblue;
}

#contact .icon{
    width: 70px;
    margin: 0  auto;
    margin-bottom: 10px;

}

#contact .contact-info h1{
    font-size: 30px;
    font-weight: 30px;
    margin-bottom: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

#contact .contact-info h2{
    font-size: 1.2rem;
    line-height: 10px;
    font-weight: 500;
}
/* end contact section */

/* footer */
#footer{
    background-image: linear-gradient(68deg , #29323c, #485563 80%);
}
#footer .footer{
    min-height: 200px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;
    
}
#footer h2{
    color: ghostwhite;
    font-weight: 30px;
    font-size: 15px;
    letter-spacing: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* end footer */

/* keyframes */
@keyframes text_reveal_box{
    50%{
        width:100%;
        left: 0;
    }
    100%{
    width: 0;
    left: 100;
   }
}
@keyframes text_reveal{
    100%{
        color: ghostwhite;
    }
}
/* end keyframes */


